n8n-workflows/openrouter-mcp-integration.json
{
  "name": "OpenRouter MCP Integration",
  "description": "Handles MCP tool calls from OpenRouter gateway",
  "nodes": [
    {
      "parameters": {
        "path": "mcp-tools",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-mcp-tools",
      "name": "MCP Tools Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming MCP tool call\nconst toolName = $json.tool_name || $json.params?.name;\nconst toolArgs = $json.args || $json.params?.arguments || {};\n\n// Log the request\nconsole.log('MCP Tool Call:', toolName, toolArgs);\n\n// Route to appropriate tool handler\nswitch(toolName) {\n  case 'proxmox_status':\n    return {\n      tool: 'proxmox_status',\n      action: 'get_status',\n      payload: toolArgs\n    };\n  case 'git_deploy':\n    return {\n      tool: 'git_deploy',\n      action: 'deploy',\n      payload: toolArgs\n    };\n  case 'backup_create':\n    return {\n      tool: 'backup_create',\n      action: 'create',\n      payload: toolArgs\n    };\n  default:\n    return {\n      error: `Unknown MCP tool: ${toolName}`,\n      available_tools: ['proxmox_status', 'git_deploy', 'backup_create']\n    };\n}"
      },
      "id": "mcp-router",
      "name": "MCP Tool Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tool }}",
              "rightValue": "proxmox_status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "tool-switch",
      "name": "Tool Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "http://192.168.50.10:8006/api2/json/nodes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "proxmoxApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "PVEAPIToken=root@pam!monitoring:your-token-here"
            }
          ]
        }
      },
      "id": "proxmox-api",
      "name": "Proxmox API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format MCP response\nconst toolResult = $json;\n\nreturn {\n  success: true,\n  tool: $('MCP Tool Router').item.json.tool,\n  result: toolResult,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-response",
      "name": "Format MCP Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "MCP Tools Webhook": {
      "main": [
        [
          {
            "node": "MCP Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tool Router": {
      "main": [
        [
          {
            "node": "Tool Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Switch": {
      "main": [
        [
          {
            "node": "Proxmox API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proxmox API Call": {
      "main": [
        [
          {
            "node": "Format MCP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format MCP Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["openrouter", "mcp", "tools"],
  "triggerCount": 1,
  "updatedAt": "2025-09-08T00:00:00.000Z",
  "versionId": "1"
}
